/* Add CSS Styling */
.oddnumber {
    background-color: lightpink;
    font-family: verdana, "DejaVu sans",  sans-serif;
}
#number2 {
    color: blue;
    font-size: 36px;
}
.oddnumber#number3 {
    font-size: 24px;
}
#number4 {
    background-color: lightgreen;
    font-weight: bold;
}