/* Add CSS Styling */
.button1 {
    background-color: black;
    color: white;
}
.button2 {
    background-color: yellow;
    color: black;
}
.adjust-font {
    font-size:28px;
    font-family: helvetica, "Times New Roman", sans-serif;
}